html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: hsla(251, 18%, 12%, 1);
  line-height: 1.4;
  user-select: none;
  height: 100dvh;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

.wrapper {
  background: hsla(251, 18%, 12%, 1);
  max-width: 390px;
  margin: 30px auto;
  padding: 50px 36px;
  display: flex;
  flex-direction: column;
}

#champion-image {
  width: 150px;
  margin: 0 auto 18px;
}

.wrapper-header {
  color: hsla(0, 0%, 100%, 1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 118px;
  border-radius: 8px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  color: hsla(0, 0%, 100%, 1);
  background: hsla(249, 16%, 30%, 1);
}

textarea:focus {
  outline: 1px solid hsla(202, 88%, 55%, 1);
}

.from-to-field {
  display: flex;
  gap: 0 10px;
  margin-bottom: 10px;
}

.from-to-field input {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  color: hsla(0, 0%, 100%, 1);
  background: hsla(249, 16%, 30%, 1);
  text-align: center;
}

.from-to-field input:focus {
  outline: 1px solid hsla(202, 88%, 55%, 1);
}

#publish-btn {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: hsla(202, 74%, 6%, 1);
  background: hsla(202, 88%, 55%, 1);
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

#publish-btn:hover {
  color: hsla(0, 0%, 100%, 1);
  background: hsla(201, 90%, 27%, 1);
}

#endorsement-header {
  color: hsla(0, 0%, 100%, 1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.endorsement-container {
  font-family: "Inter", sans-serif;
  color: hsla(251, 18%, 12%, 1);
  background: hsla(0, 0%, 100%, 1);
  padding: 13px 14px;
  margin-bottom: 13px;
}

.endorsement-container h3 {
  font-size: 14px;
  font-weight: 700;
}

.endorsement-container p {
  font-size: 14px;
  font-weight: 400;
  margin: 12px auto 10px;
  text-align: justify;
}

.like-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.love-icon {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.love-icon:hover {
  color: hsla(202, 88%, 55%, 1);
}

.count {
  margin-left: 10px;
}

.no-item-paragraph {
  color: hsla(251, 18%, 12%, 1);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background: hsla(0, 0%, 100%, 1);
  padding: 13px 14px;
}
